body {
    margin: 0;
    font-family: sans-serif;
}


/* Header */

.header {
    background-color: #f7ca18;
    color: whitesmoke;
    text-align: center;
    height: 50px;
    /* padding: 10px 10px 10px 10px; */
    font-size: 2em;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* button */
.editBtn:hover {
    color: blue;
}

.delBtn:hover {
    color: red;
}

.completed-item{
    text-decoration: line-through;
 }